.board {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.column {
  min-width: 25rem;
  padding: 0.4rem;
  background-color: var(--card-hover-icon-background-color);
  display: flex;
  flex-direction: column;
}

.item {
  border: 1px solid black;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 24rem;
  max-width: 24rem;
  min-height: 4rem;
  background-color: #fff;
  box-shadow: 0px var(--card-box-shadow-1-y) var(--card-box-shadow-1-blur)
      var(--card-box-shadow-1),
    0px var(--card-box-shadow-2-y) var(--card-box-shadow-2-blur)
      var(--card-box-shadow-2),
    0 0 0 1px var(--card-border-color);

  position: relative;
  padding-top: 0.2rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-bottom: 0.2rem;

  margin-bottom: 0.4rem;
  border-radius: 15px;
  transition: box-shadow 0.25s;
  width: 100%;
  height: 100%;
  &:hover {
    box-shadow: 0px 3px 6px var(--card-hover-box-shadow-1),
      0px var(--card-hover-box-shadow-2-y) var(--card-hover-box-shadow-2-blur)
        var(--card-hover-box-shadow-2),
      0 0 0 1px var(--card-hover-border-color);

    .icon {
      &::after {
        background-color: var(--card-hover-icon-background-color);
        border-color: var(--card-hover-icon-border-color);
      }
    }
  }
}

.add-button {
  border-color: var(--card-hover-icon-border-color);
  border-radius: 15px;
  background-color: transparent;
  border: 1px solid #333;
  color: #333;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.icon-container {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
}

.icon {
  font-size: 12px;
  margin-left: 5px;
  cursor: pointer;
  color: #999;
}
